<BuildPackage>
	<Name>FAQ Master</Name>
	<BuildScriptVersion>2</BuildScriptVersion>

	<Resources>
		<Add>App_LocalResources\Settings.ascx.resx</Add>

		<Add>RegCore</Add>
		<Add>templates</Add>
		<Add>static</Add>

		<Add>*.aspx</Add>
		<Add>*.ascx</Add>
		<Add>*.ashx</Add>
		<Add>*.asmx</Add>
		<Add>module.css</Add>

	</Resources>
	
</BuildPackage>
